<p>Hello,</p>

<p>
  A new API key (<strong><%= @api_key_name %></strong>) was just created
  on your Clinch account (<strong><%= @user.email_address %></strong>).
</p>

<%= render "event_metadata" %>
