<p>Hello,</p>

<p>
  A new set of two-factor backup codes was generated on your Clinch
  account (<strong><%= @user.email_address %></strong>).
  Any previous backup codes are now invalid.
</p>

<%= render "event_metadata" %>
